.container{
    max-width: 1380px;
    body{
        background-color: #000;
    }
    
    header{
        width: 1440px;
        height: 80px;
        display: flex;
    }
    
        .nav_left{
            width: 300px;
            display: flex;
            align-items: center;
            margin-left: 50px;
            img{
                width: 202px;
                height: 28px;
            }
        }
    
        .nav_right{
            width: 1000px;
            display: flex;
            align-items: center;
            margin-right: 0px;
            margin-left: 300px;
            a{
                font-size: 18px;
                margin-left: 20px;
                margin-right: 20px;
                text-decoration: none;
                color: #000C2D;
                text-transform: capitalize;
                padding-top: 6px;
                padding-bottom: 6px;
                border-bottom: 2px solid transparent;
                transition: all .3s ease;
    
                &:hover{
                    border-bottom: 2px solid black;
                }
            }
    
    
    
            .demo_btn{
                width: 136px;
                height: 44px;
                border: 2px solid #2F70FE;
                background: transparent;
                color: #2F70FE;
                font-weight: bolder;
                margin-right: 20px;
                cursor: pointer;
                transition: all 0.3s ease;
    
                &:hover{
                    background-color:#2F70FE ;
                    color: #fff;
                    border-radius: 10px;
                }
            }
    
    
    
            .login_btn{
                width: 58px;
                height: 18px;
                border: none;
                background: transparent;
                display: flex;
                font-weight: bold;
                cursor: pointer;
            }
        }
        
        .main{
            background-image: url(/img/Group135.png);
            width: 1380px;
            height: 543px;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            z-index: 1;
            
            .texts{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 100px;
            
                .main_text_first{
                    font-size: 48px;
                    color: #fff;
                }
            
                .main_text_second{
                    margin-top: -15px;
                    font-size: 16px;
                    color:#fff;
                }
                .main_text_third{
                    margin-top:-15px;
                    font-size: 16px;
                    color:#fff;
                }
            
                .register_btn{
                    width: 162px;
                    height: 52px;
                    background-color: #000;
                    color: #fff;
                    transition: all .3s ease;
                    margin-top: 20px;
                    &:hover{
                        background-color: #2F70FE;
                        border: 1px solid #000;
                        color: #000;
                        border-radius: 10px;
                    }
                }
            }
            
        }
    
        .main_statistc{
            background-image: url(/img/kl.jpg);
            width: 1440px;
            height: 561px;
            margin-left: -30px;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            margin-top: -90px;
            .statistic{
                display: flex;
                justify-content: center;
                margin-top: 150px;
                font-display: auto;
                flex-direction: column;
                align-items: center;
        
        
                .cards{
                    width: 824px;
                    height: 178px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    .first_card{
                        width: 210px;
                        height: 175px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        .card_texts{
                            margin-top:-15px;
                        }
                    }
                }
        
            }
        }

        .about_chanel{
            width: 1380px;
            height: 500px;
            margin-top: 475px;
            display: flex;
            justify-content: center;

            .first_about{
                width: 650px;
                height: 500px;
                display: flex;
                flex-direction: column;
                .for_chanel{
                    font-size: 28px;
                    color: #000;
                    margin-top: 200px;
                    margin-left: 300px;
                }
                .for_chanel_texts{
                    font-size: 15px;
                    color: #000C2D;
                    margin-top: -10px;
                    margin-left: 300px;
                }
            }
            .second_about{
                width: 650px;
                height: 500px;
                .search_img{
                    width: 421px;
                    height: 310px;
                    margin-top: 90px;
                }

            }
        }
}

